@charset "UTF-8";
::before, ::after { /* 清除默认的间距和边距*/ padding: 0; margin: 0; /*去除移动端特有的点击高亮效果*/ -webkit-tap-highlight-color: transparent; /*设置所有的盒子都以边框开始计算宽度*/ -webkit-box-sizing: border-box; box-sizing: border-box; }

body, h1, h2, h3, h4, h5, h6, p, dl, dd, ul, ol, pre, form, input, textarea, th, td, select { margin: 0; padding: 0; }

em { font-style: normal; }

ul, li { list-style: none; }

a { text-decoration: none; color: #333; }

img { border: none; }

table { border-collapse: collapse; }

textarea { resize: none; overflow: hidden; }

body { font-family: '微软雅黑',sans-serif; color: #555; font-size: 14px; }

.wrap { width: 1200px; margin: 0 auto; }

input { border: none; /*获取焦点时的外边框*/ outline: none; /*清除移动端默认的表单样式:-webkit-appearance是用来改变按钮和其他控件的外观，使其外观类似于原生控件.
通常我们可以在相应的元素上加上-webkit-appearance: none;来移除原生控件样式。*/ -webkit-appearance: none; }

.clear { zoom: 1; }

.clear:after { content: ''; display: block; clear: both; }

.clearfix::before, .clearfix::after { display: block; height: 0; clear: both; content: ""; height: 0; line-height: 0; display: block; clear: both; visibility: hidden; }

/*顶部导航*/
#top_nav_container { font-size: 14px; width: 100%; background-color: #f8f8f8; height: 30px; }

#top_nav_container ul { line-height: 30px; float: right; }

#top_nav_container ul li { float: left; }

#top_nav_container ul li a { font-size: 12px; border-right: 1px dotted #ccc; padding: 0 18px; display: inline-block; height: 20px; line-height: 20px; cursor: pointer; color: #666; text-decoration: none; }

#top_nav_container ul li a:hover { color: #f36; }

#top_nav_container ul li.star { width: 110px; height: 30px; position: relative; }

#top_nav_container ul li:last-child a { border-right: 0; }

#top_nav_container span { display: inline-block; width: 18px; height: 16px; vertical-align: sub; margin-right: 7px; background: url(../img/icon_head.png) no-repeat; }

#top_nav_container span .wxlogin { background-position: -25px 0; }

#top_nav_container span.wxlogin { background-position: -25px 0; }

#top_nav_container span.qqlogin { background-position: -52px 0; }

#top_nav_container span.star { background-position: -76px 0; }

#top_nav_container span.myCar { background-position: -102px 0; }

#top_nav_container span.order { background-position: -130px 0; }

#top_nav_container span.help { width: 6px; margin-left: 10px; background-position: -180px 0; }

/*搜索栏*/
#top_search_container { position: relative; }

#top_search_container a.logo { background: url(../img/logo_header.png); float: left; width: 204px; height: 52px; background-size: 100%; margin-top: 40px; }

#top_search_container .search { width: 520px; position: absolute; top: 21px; left: 50%; margin-left: -240px; }

#top_search_container .search .search-tab span { display: inline-block; width: 56px; height: 24px; line-height: 24px; text-align: center; cursor: pointer; }

#top_search_container .search .search-tab span.active { background-color: #f36; color: #fff; }

#top_search_container .search input { float: left; border: 2px solid #f36; width: 437px; line-height: 28px; height: 28px; margin: 0; padding: 0 0 0 8px; }

#top_search_container .search span.search-btn { float: left; width: 70px; height: 31px; background: #f36 url(../img/search_header.png) no-repeat center; cursor: pointer; }

#top_search_container .search #hotword { width: 520px; height: 28px; padding-top: 12px; }

#top_search_container .search #hotword li { float: left; }

#top_search_container .search #hotword li a { padding-right: 10px; font-size: 12px; }

#top_search_container .search #hotword li a.hot { color: #f36; }

#top_search_container a.erwm { float: right; }

/*下部TAB标签*/
#top_nav2_container { height: 40px; line-height: 40px; margin-bottom: 10px; border-bottom: 1px solid #979797; border-bottom: 1px solid rgba(151, 151, 151, 0.32); background-color: #fff; font-size: 0; clear: both; }

#top_nav2_container ul li { float: left; width: 100px; text-align: left; }

#top_nav2_container ul li a { display: block; width: 34px; height: 38px; font-size: 16px; font-weight: 700; color: #333; }

#top_nav2_container ul li a.active { color: #f36; border-bottom: 2px solid #f36; }

/*sidebar*/
#sidebar_container { width: 38px; height: 100%; border-left: 1px solid #ddd; background-color: #F6F6F6; position: fixed; right: 0; top: 0; font-size: 12px; z-index: 999; }

#sidebar_container ul { margin-top: 30px; }

#sidebar_container li { display: block; width: 10px; padding: 15px 14px; cursor: pointer; line-height: 1.2; color: #666; background: 11px 13px no-repeat; text-decoration: none; border-top: 1px solid #ddd; }

#sidebar_container li span.text_vertical { width: 40px; height: 20px; display: inline-block; margin-top: 12px; margin-left: -18px; transform: rotate(90deg); -webkit-transform: rotate(90deg); -ms-transform: rotate(90deg); -o-transform: rotate(90deg); -moz-transform: rotate(90deg); }

#sidebar_container li i { font-size: 18px; display: inline-block; margin-left: -3px; }

#sidebar_container li:first-child i { font-size: 25px; margin-left: 0; }

#sidebar_container li:last-child { display: none; }

#sidebar_container li:last-child i { margin-left: 0; }

#sidebar_container li:hover { background-color: #f36; color: #fff; }

#sidebar_container li:hover a { color: #fff; }

footer { width: 100%; min-width: 1260px; margin-top: 15px; padding-top: 30px; background-color: #f5f5f5; border-top: 1px solid #ddd; font-size: 12px; color: #666; }

footer .footer_left { float: left; }

footer .footer_left > ul { float: left; margin-right: 104px; margin-bottom: 20px; line-height: 26px; }

footer .footer_left > ul > li { margin-top: 12px; }

footer .footer_left > ul > li h4 { font-size: 16px; line-height: 28px; }

footer .footer_right { float: right; }

footer .footer_right li { float: left; margin-left: 50px; }

footer .footer_record { border-top: 1px solid #ccc; padding-top: 20px; width: 100%; text-align: center; line-height: 20px; }

#carouser_container { width: 100%; }

.channels { margin-top: 20px; }

.channels li { width: 300px; height: 170px; float: left; }

.channels li a img { width: 100%; }

#nav { margin-top: 20px; text-align: center; }

#nav span { cursor: pointer; margin-right: 33px; font-size: 20px; height: 28px; line-height: 28px; color: #000; border-bottom: 3px solid transparent; }

#nav span.active { color: #f36; border-bottom: 3px solid #f36; }

#nav a.more { float: right; margin-top: 4px; font-size: 14px; color: #6f6f6f; margin-right: 0; }

.main_tab1 ul { margin-top: 20px; }

.main_tab1 ul li { float: left; width: 224px; margin: 0 20px 18px 0; }

.main_tab1 ul li img { width: 100%; }

.main_tab1 ul li.last { margin-right: 0; }
